.p7-3 { /*done*/
    zoom: 143% ;
    -moz-transform: scale(1.43);
    margin-top: 15px;
    margin-left: 55px;
    
}

.nick-3 { /* done */
    zoom: 149%;
    -moz-transform: scale(1.49);
    margin-top: 185px;
}

.ard-3 {
    zoom: 135%;
    -moz-transform: scale(1.35);
    margin-top: -100px;
}

.zdf-3 {
    zoom: 200%;
    -moz-transform: scale(2);
    margin-top: 130px;
}

.disney-3 { /* done */
    zoom: 135%;
    -moz-transform: scale(1.35);
    margin-top: -155px;
}

.sport1-3 {
    zoom: 290%;
    -moz-transform: scale(2.9);
    margin-top: 150px;
    margin-left: 725px;
}

.nfl-3 {
    /* TODO */
}