.p7-1 {
    zoom: 158% ;
    -moz-transform: scale(1.58);
    margin-top: 135px;
    margin-left: 132px;
    
}

.nick-1 {
    zoom: 210%;
    -moz-transform: scale(2.1);
    margin-top: 570px;
}

.ard-1 {
    zoom: 135%;
    -moz-transform: scale(1.35);
    margin-top: -100px;
}

.zdf-1 {
    zoom: 200%;
    -moz-transform: scale(2);
    margin-top: 130px;
}

.disney-1 {
    zoom: 190%;
    -moz-transform: scale(1.90);
    margin-top: 40px;
}

.sport1-1 {
    zoom: 290%;
    -moz-transform: scale(2.9);
    margin-top: 150px;
    margin-left: 725px;
}

.nfl-1 {
    
}